:root {
  --food-deliverywhite-grey: rgba(246, 246, 246, 1);
  --food-deliveryp: rgba(105, 105, 123, 1);
  --food-deliveryorange-color: rgba(249, 74, 61, 1);
  --food-delivery-pg: rgba(33, 34, 68, 1);
  --food-deliverywhite-color: rgba(255, 255, 255, 1);
  --foodtext-color-2: rgba(105, 105, 123, 1);
}
